table{
	border-collapse: collapse;
	padding: 2px;
	border: collapse;
	border: 2px solid black;
	text-align: center;

}

th, td{
	border: 1px solid black;
	white-space: nowrap;
	width: 90px;
	padding: 1px;
}

td input[type="text"]{
	width: 100%;
	margin: 0; padding: 0; border: 0;
    display: block;
	text-align: center; 
	box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;

}

td input[type="button"], th input[type="button"]{
	width: 20px;
	height: 20px;
	padding: 0; border: 5px; margin: 2px;
	text-align: center;
}
